/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.jfdi_title {
	font-weight: normal;
	font-size: 45px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-left:0px;
	margin-top: 100px;
	word-spacing: 20px;
	width:100%;	
}

.char1{
	font-size: .75em;
	margin-top: .39em;
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg); 
	transform: rotate(-8deg);
}

.char2{
	font-size: .78em;
	margin-top: .21em;
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg); 
	transform: rotate(5deg);
}

.char3{
	font-size: .8em;
	margin-top: .17em;
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg); 
	transform: rotate(-3deg);
}

.char4{}

.char5{
	font-size: .85em;
	margin-top: .14em;
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-ms-transform: rotate(1deg); 
	transform: rotate(1deg);
}

.char6{
	font-size: .9em;
	margin-top: .05em;
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); 
	transform: rotate(-2deg);
}


.char7{
	font-size: .94em;
	margin-top: .05em;
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); 
	transform: rotate(-2deg);
}

.char8{font-size: .9em;}

.char9{
	margin-top: -.09em;
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg); 
	transform: rotate(-3deg);
}

.char10{
	margin-top: -.08em;
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-ms-transform: rotate(3deg); 
	transform: rotate(3deg);
}

.char11{
	margin-top: -.03em;
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); 
	transform: rotate(-2deg);
}

.char12{
	margin-top: -.09em;
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); 
	transform: rotate(-2deg);
}

.char13{}

.char14{
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg); 
	transform: rotate(-3deg);
}

.char15{
	margin-top: .03em;
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg); 
	transform: rotate(-1deg);
}

.char16{
	margin-top: .03em;
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg); 
	transform: rotate(-6deg);
}

.char17{ }

.char18{
	margin-top: -.02em;
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg); 
	transform: rotate(-1deg);
}

.char19{
	margin-left: 91.8%;
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(4deg);
	-ms-transform: rotate(-1deg); 
	transform: rotate(-1deg);
}

.char20{
	margin-left: 96.2%;
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg); 
	transform: rotate(-1deg);
}

