<%= form_for(@proj_memb) do |f| %>
  <% if @proj_memb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proj_memb.errors.count, "error") %> prohibited this proj_memb from being saved:</h2>

      <ul>
      <% @proj_memb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
