<h1>Listing proj_membs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proj_membs.each do |proj_memb| %>
  <tr>
    <td><%= link_to 'Show', proj_memb %></td>
    <td><%= link_to 'Edit', edit_proj_memb_path(proj_memb) %></td>
    <td><%= link_to 'Destroy', proj_memb, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proj memb', new_proj_memb_path %>
