<div class="span5">
	<h1 class="jfdi_title">JUST FUCKING DO IT</h1>
		<hr />
	Site Coming Soon - <a class="btn btn-inverse" href="https://github.com/organizations/JustFingDoit" target="_blank">Visit GitHub</a>
</div>