<header class="header front-page">
		<div class="header_background" id="header_background">
			
		</div>
		<nav class="nav clearfix" id="navbar">
			<div id="logo">
				JustF'ingDoIt!
			</div>
			<ul>
				<li><a href="#" class="selected" id="menu1">Home</a></li>
				<li><a href="#" id="menu2">Who</a></li>
				<li><a href="#" id="menu3">Projects</a>
					<ul>
						<li><a href="#">Web Shit</a></li>
						<li><a href="#">Non-web Shit</a></li>
					</ul>
				</li>
				<li><a href="#" id="menu4">Blog</a></li>
			</ul>
		</nav>
		<h1>
			<span>Hey! We're <b>JFDI</b> a group of awesome</span><br>
			<span><b>people</b> that accomplish crazy stuff.</span>
		</h1>
	</header>
	<section class="body">
		<div class="content">
			<h2>Here at <b>JFDI</b> we do some crazy shit... here's the process:</h2>
			<div class="process clearfix">
				<div class="col-1">
					<h3>1. Think of it</h3>
					<i class="icon-user"></i>
					<p>Leberkas pig venison, ham hock biltong brisket cow salami. Venison shank bacon, pork loin shankle filet mignon pig kielbasa. Pork belly capicola fatback tenderloin, tri-tip speck ham prosciutto shankle chicken ball tip pig.</p>
				</div>
				<div class="col-1">
					<h3>2. Have a beer</h3>
					<i class="icon-thumbs-up"></i>
					<p>Hamburger turducken bresaola pork loin, frankfurter shoulder kielbasa tail shank leberkas jowl tenderloin salami beef ribs venison.</p>
				</div>
				<div class="col-1">
					<h3>3. Drink more beer</h3>
					<i class="icon-bar-chart"></i>
					<p>Leberkas pig venison, ham hock biltong brisket cow salami. Venison shank bacon, pork loin shankle filet mignon pig kielbasa. Pork belly capicola fatback tenderloin, tri-tip speck ham prosciutto shankle chicken ball tip pig.</p>
				</div>
				<div class="col-1 no-right">
					<h3>4. Just fucking do it</h3>
					<i class="icon-pencil"></i>
					<p>Hamburger turducken bresaola pork loin, frankfurter shoulder kielbasa tail shank leberkas jowl tenderloin salami beef ribs venison..</p>
				</div>
			</div>
			
			<h2>Recent Projects - <small><a href="#" class="right">All Projects</a></small></h2>
			<div class="clearfix process">
				<div class="col-2 clearfix">
					<div class="col-2">
						<img src="http://placehold.it/240x100/000000/ffffff&text=Barter+Vegas+Tech">
					</div>
					<div class="col-2 no-right">
						<h3>Barter Vegas Tech</h3>
						<p>Shit's pretty cool. You should check it out.</p>
						<a href="#" class="button">Visit Project</a>
					</div>
				</div>
				<div class="col-2 no-right">
					<div class="col-2">
						<img src="http://placehold.it/240x100/000000/ffffff&text=Photography+Project">
					</div>
					<div class="col-2 no-right">
						<h3>Countdown (App/Python)</h3>
						<p>Beer beer beer beer.</p>
						<a href="#" class="button">Visit Project</a>
					</div>
				</div>
			</div>
				<hr>
		</div>
	</section>
	<footer class="footer">
		<div class="content">
			&copy; <%= Time.now.year %> No One...
		</div>
	</footer>