<header class="header front-page">
		<div class="header_background" id="header_background">
			
		</div>
		<nav class="nav clearfix" id="navbar">
			<div id="logo">
				JustF'ingDoIt!
			</div>
			<ul>
				<li><a href="/" class="selected" id="menu1">Home</a></li>
				<li><a href="/members" id="menu2">Who</a></li>
				<li><a href="/projects" id="menu3">Projects</a>
					<ul>
						<li><a href="#">Web Shit</a></li>
						<li><a href="#">Non-web Shit</a></li>
					</ul>
				</li>
				<li><a href="/blogs" id="menu4">Blog</a></li>
			</ul>
		</nav>
		<h1>
			<span>Hey! We're <b>JFDI</b> a group of awesome</span><br>
			<span><b>people</b> that accomplish crazy stuff.</span>
		</h1>
	</header>
